# 必填 - 账号信息
USERNAME='你的苦力怕用户名'
PASSWORD='你的苦力怕密码'

# 可选 - 用户组设置
SWITCH_USER=0
RENEWAL_VIP=0
RENEWAL_SVIP=0
DEBUG=0

# 可选 - Server酱通知
SERVERCHAN_ENABLE=1
SERVERCHAN_KEY='你的SCKEY'

# 可选 - Telegram通知
TG_ENABLE=0
TG_TOKEN='你的BotToken'
TG_CHAT_ID='你的ChatID'

# 其他通知方式请参考原始代码
